<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Polyglot - Multipurpose</title>
</head>
<body style="margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
	<table width="750" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #eaeaea;;padding-bottom:30px;background-color:#eaeaea;;padding:15px 40px 70px 40px;">
	<tr>
	<td>
	<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;padding-bottom:30px;background-color:#fff;background: #fff;
margin: auto;
width: 100%;
padding-top: 0;
border: 1px solid #f2f2f2;">
		  <tr>
		    <td valign="top">
			    <table width="700" border="0" cellspacing="0" cellpadding="0">
			      <tr>
			        <td width="190" rowspan="2" valign="middle" style="text-align:center;border-bottom:1px solid #eaeaea;;"><a href="#" target="_blank">
			        <img src="http://www.polyglotit.com/wp-content/uploads/2017/07/logo-poyglot.png" style="width:190px;"/></a></td>
			      </tr>
			    </table>
		    </td>
		  </tr>
		  <tr>
		  	 <td valign="top"  style="height:auto;padding:10px 10px 10px 10px;font-size: 25px;color: #004b8d;text-align:center;font-size: 24px;
		padding: 10px 10px 0;
		color: #202020;
		text-align: center;
		font-family: Avenir,Helvetica,Arial,sans-serif;
		font-weight: bold;
		  	 ">
				You may miss this change
			</td>
		  </tr>
		<tr>
			<td style="padding: 10px 50px 30px 50px;
			color: #737373;
			text-align: center;
			font-family: Avenir,Helvetica,Arial,sans-serif;text-align:center;line-height:30px;
			">
				We are conducting a New Batch on $courseName from $courseDate.
Click on the button if you want Enroll for This Batch.
			</td>
		</tr>
		<tr>
			        <td style="text-align:center;padding-bottom:30px;"><a href="#" target="_blank">
			        <img src="http://www.polyglotit.com/wp-content/uploads/2017/05/aws-1.jpg" style="width:150px;height:150px"/></a></td>
			      </tr>
		<tr>
			<td style="text-align:center;">
				<a href="$registrationURL" target="_blank" 
				style="border-radius: 4px;
				color: #fff;
				display: inline-block;
				font-family: Helvetica,Arial,sans-serif;
				font-size: 14px;
				font-weight: 500;
				line-height: 25px;
				text-align: center;
				text-decoration: none;
				font-size: 16px;
				padding: 15px 30px 12px;
				text-transform: uppercase;
				letter-spacing: .8px;
				background-color: #1481f7;
				text-decoration: underline;border:none;				
				color: #fff;cursor:pointer;margin-bottom:30px;">Enroling into a new batch</a>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px 10px 0;color: #202020;text-align: center;font-family: Avenir,Helvetica,Arial,sans-serif;
font-weight: bold;">Up commong Batches</td>
		</tr>
		<tr>
			<td style="padding: 10px 5px 10px 5px;
color: #737373;
text-align: center;
font-family: Avenir,Helvetica,Arial,sans-serif;line-height:25px;"
">Click below Links for updates of upcomming Batches</td>
		</tr>
		<tr>
			<td style="text-align:center;border-bottom:1px solid #eaeaea;padding-bottom:50px;'">
				<a style="background: #ff8522;
				padding: 5px 15px 5px;
				border-radius: 35px;
				color: white;
				font-size: 15px;
				text-decoration: none;
				margin: 0 10px 15px;
				line-height: 1.5;
				font-family: Avenir,Helvetica,Arial,sans-serif;
				">AWS</a>
				<a style="background: #ff8522;
				padding: 5px 15px 5px;
				border-radius: 35px;
				color: white;
				font-size: 15px;
				text-decoration: none;
				margin: 0 10px 15px;
				line-height: 1.5;
				font-family: Avenir,Helvetica,Arial,sans-serif;
				">Devops</a>
				<a style="background: #ff8522;
				padding: 5px 15px 5px;
				border-radius: 35px;
				color: white;
				font-size: 15px;
				text-decoration: none;
				margin: 0 10px 15px;
				line-height: 1.5;
				font-family: Avenir,Helvetica,Arial,sans-serif;
				">Linux</a>
			</td>
		</tr>
		<tr> 
     <td style="padding-top:30px;font-size:12px;text-align:center" align="center">POLYGLOT IT SOLUTIONS PRIVATE LIMITED</td> 
    </tr>
    <tr> 
     <td style="padding-top:10px;font-size:10px;text-align:center" align="center;font-family: arial,sans-serif;">Registered office address: 307/B,Nilgiri Block, Aditya Enclave, Ameerpet,Hyderabad-500038 Telangana.</td> 
    </tr>
    <tr> 
     <td style="padding-top:5px;font-size:10px;text-align:center" align="center">Email : <a href="http://t.soopoop.com/p/?j1=EHo72HEyFVTwFHAXF7l6EHoXFH0UFbTXE7oTFchxF0==&amp;~j2=EOI6hVUrKjBQKbYOKyw6FcoYDcPXDcEwDcLWEOA72cL=" target="_blank" 
     data-saferedirecturl="#">training@polyglotit.com</a> | Website :&nbsp;<a href="http://www.polyglotit.com/" target="_blank" data-saferedirecturl="http://www.polyglotit.com/">www.polyglotit.com</a>&nbsp;| Contact number : +91 7285948228 , +91 040-42305268 </td> 
    </tr>
    <tr> 
     <td style="padding-top:10px;font-size:10px;text-align:center" align="center">*Terms &amp; conditions apply. Loans at the discretion of Fullerton India Credit Company Limited..</td> 
    </tr>
	</table>
	</td>
	</tr>
	</table>
</body>
</html>